
/* this CSS is needed to style the PrimeUI components font and size */
.ui-widget {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;            
    padding: 0px;
}
.ui-widget-content {
    margin-top: 5px;
    padding: 0px;
}

.ui-inputtext {
    height:25px !important;
}

