

.inv-button {
    visibility: hidden;
    float: left;
    width: 0;
    height: 0;
}



.row-exp td {
    text-align: left;
}

#productTableForm button:first-child {
    visibility: hidden;
    width: 0;
    height: 0;
}

#productTableForm input[type="button"]:first-child {
    visibility: hidden;
    width: 0;
    height: 0;
}

.centralpanel .ui-widget-header {
    background: #EEEEEE;
}

form#tableDataOnFirstLoad {
    visibility: hidden;
    width: 0;
    height: 0;
}

.brandImage {
    width: 70px;
    height: 70px;
}

/*input,
select,
textarea,
button,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-header,
.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px !important;
    border: 1px solid gold;
} */

/*.ui-widget-content {
    border: 1px solid red;
    background: #FFFFFF url("{resource['primefaces-moodyblue2:images/ui-bg_flat_75_ffffff_40x100.png']}") 50% 50% repeat-x;
    color: #363636;
}*/

.ctr-pnl {
}
/*
.ui-widget {
    font-size: 90%;
    border-radius: 0%;
}

.ui-chkbox {
    vertical-align: middle;
}*/

#createListBtn {
    float: left;
}


/*.ui-datatable-data {
     background-color: red !important;
}*/

/*.ui-datatable-data tr,
.ui-datatable-data-empty tr,
.ui-datatable-data td,
.ui-datatable-data-empty td  {
    background-color: #eee;
    background-color: white;

}*/


/*#productTableForm > #mul-sel-dat > .dtb-chb-sze {
    width: 15px;
    background-color: #eee;
}

#mul-sel-dat {
    width: 15px;
    height: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #eee;
}*/

.dtb-chk-sze {
    width: 15px;
    height: 20px;
    padding: 0px 0px 0px 0px;
    /*font-size: 90%;*/
    /*background-color: #eee;*/
    /*border: 1px solid gold;*/
}

.dtb-img-col-sze {
    width: 8%;
    height: 8%;
}

.dtb-upc-sze {
    width: 9%;
}

.dtb-desc-sze {
    width: 20%;
}

.dtb-cat-sze{
    width: 10%;
}

.dtb-bin-loc-sze{
    width: 9%;
}

.dtb-sze-sze {
    width: 5%;
}

.dtb-sal-sze {
    width: 5%;
}

.dtb-col-sze {
    width: 10%;
}

.dtb-act-dwn {
    width: 7%;
}

#actionDiv {
    float: left;
}

#globalFilterPanel {
    float: right;
}

.title {
    display: inline-block;
}

/*    styleClass=""     */

/*.ui-widget .ui-widget {
    font-size: smaller;
}*/

/*.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: 'Segoe UI',Arial,sans-serif;
}*/

/*.ui-widget-content {
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    url("#{resource['primefaces-moodyblue2:images/ui-bg_flat_75_ffffff_40x100.png']}") 50% 50% repeat-x;
    color: blue;
}*/

/*label.ui-outputlabel {
    color:#222222;
}*/

/*.ui-menu, .ui-menu-parent .ui-menu-child {
    background: #CCCCCC;
    url("#{resource['primefaces-moodyblue2:images/ui-bg_highlight-soft_75_ccccff_1x100.png']}") repeat-x;
}

.ui-widget-content a {
    color: blue;
}*/

.ui-widget-header {
    border: 1px solid #C0C0C0;
    background: #CCCCCC;

    /*url("#{resource['primefaces-moodyblue2:images/ui-bg_highlight-soft_75_ccccff_1x100.png']}") 50% 50% repeat-x;*/
    color: #66667A;
    font-weight: bold;
}



/*.ui-widget-header a {
    color: #2222ff;
}*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #CCCCCC;
    background: #e6e6ff url("#{resource['primefaces-moodyblue2:images/ui-bg_highlight-hard_75_e6e6ff_1x100.png']}") 50% 50% repeat-x;
    background: #F7F7F7;
    font-weight: bold;
}

/*   stoppppppppppppp  -------------------

.ui-widget-header {
    border: 1px solid #e5e5ec;
}*/

/*.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}*/

/*.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #9999ff;
    background: #dadada url("#{resource['primefaces-moodyblue2:images/ui-bg_highlight-hard_75_dadada_1x100.png']}") 50% 50% repeat-x;
    background: #e6e6ff url("#{resource['primefaces-moodyblue2:images/ui-bg_highlight-hard_75_e6e6ff_1x100.png']}") 50% 50% repeat-x;
    font-weight: bold;
    color: #2222ff;
}*/

/*.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #212121;
    text-decoration: none;
}*/

/*.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaff;
    background: #9999ff url("#{resource['primefaces-moodyblue2:images/ui-bg_highlight-hard_65_9999ff_1x100.png']}") 50% 50% repeat-x;
    color: #212121;
}*/

/*.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}*/

.ui-helper-clearfix {
    background-color: white;
}

/*.ui-corner-all {
    background-color: white;
}*/

/*.ui-menu-dynamic {
    background-color: violet;
}*/

/*.ui-widget-content {
    background-color: yellow;
}*/

/*.ui-shadow {
    background-color: pink;
}*/



#dt_mul_sel {
    background-color: #F8F8F8;

}

/*dt_mul_sel .ui-button {
    background-color:#0074B8;
}*/

/*div.ui-corner-top {
    background-color: #F8F8F8;
}*/

/*span {
    background-color: #0066AE;
}*/
