#brandname { 
    /*+++++++++++++++++++++++++
    font-family: 'Pangolin', cursive; 
    font-family: 'Pangolin', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Saira';
    font-family: 'Dancing Script';
    font-family: 'Nosifer', cursive;*/
    font-family: 'Amatic SC', cursive;
    height: 100%;
    text-decoration: none;
    font-weight: 900;
    font-size: 35px;
    width: 15%;
} 