* { 
    font-family: sans-serif; 
}

body { 
    /*background-color: #ededed;*/
}

div {
    border: 0px dotted lightgray;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

#title {   
    color: black;
    text-align:center;
    display: inline-block;
}

#subtitle {
    color: blue;
    text-align:center;
}

#leftsubtitle {}
#rightsubtitle {}

#introandmainheader {
    text-align: center;
}

#intro {}

#mainheader {    
}

#mainpanel {
    text-align: center;       
}

#leftpanel {}
#rightpanel {}
#centerpanel {}

#mainfooter {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;     
    padding: 0;
    margin: 0;    
    clear: both;    
    text-align: center;
}

#topmenu {
    white-space: nowrap;
    height: 28px;   
    /*background: #999;*/
    margin-bottom: 5px;
}

#topmenu ul {
    margin: 0;
    padding: 0;
    list-style:none;
    float:left;
}

#topmenu li {
    float: left;
    margin: 0 3px 0 3px;
    padding: 0;
    background: transparent;
}

#topmenu a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    float:left;
    display:block;
    height: 26px;
    line-height: 24px;
    padding: 2px 10px 0 10px;
    color: #cccc00;
    text-decoration: none;
    background: transparent;
}