body { 
    font-family: Tahoma, Verdana, Segoe, sans-serif, sans-serif;
    margin: 0px auto 0px auto;
    max-width: 1200px;
    /*max-width: 970px;*/
}


/*.main-container {
}

.main-content {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    border: 1px solid gold;
}*/