p {
    text-align: left;
}

label {
    color: maroon;
}

#credentials {
    width:310px;
    margin:0 auto;
}

#j_username {
    width:185px;
}

#j_password {
    width: 185px;
}

#signup {
    text-align: left;
}

#signup p {
    text-align: center;
}